
*.fxs
*.log
*.access
*.1
logs/ncserr.log.idx
logs/ncserr.log.siz
logs/rollback10001
logs/xpath.trace
ncs-cdb/A.cdb
ncs-cdb/C.cdb
ncs-cdb/O.cdb
ncs-cdb/S.cdb
state/cli-history/admin.hist
state/device-notifications.idx
state/device-notifications.siz
state/global.data
state/kicker-events.idx
state/kicker-events.siz
state/local.data
state/ncs-events.idx
state/ncs-events.siz
state/packages-in-use
state/packages-in-use.cur/1/devdays/.DS_Store
state/packages-in-use.cur/1/devdays/package-meta-data.xml
state/smartlic/agentStore
state/smartlic/gch.jks
state/smartlic/state.yml
state/smartlic/udi.sn
storedstate
packages/devdays/.DS_Store
